<% content_for :stylesheets do %>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

<% end %>

<!-- introduction -->

<!-- end of introduction -->
<div class="col-md-12" dir="rtl" >

<p>
سياسات الاستخدام المقبول، التعامل الرقمي، الأمان والخصوصية لنظام وكيل


للتأكد من فهم شروط الاستفادة من قبل مستفيدي خدمات "وكيل"، استخدام لوحة التحكم، إدارة البيانات وغيرها من التعامل الرقمي مع محاور الخدمة، رخصة الاشتراك، الأمان الرقمي والخصوصية بشكل خاص.
</p>

<p>

سيذكر اسم مؤسستنا الرقمية أفينسا (Afinsaa) خلال نقاط السياسات ادناه وذلك لنسبة الملكية.
</p>

<p>

هذه السياسة لا تحتمل فرض القوانين لكل احتمالية محتملة. في المقابل، انها مصممة في فرض فلسفة " افينسا" بمبادئ عامة فيما يجب على مستفيدي خدماتها تطبيقه عند استخدام خدماتها التقنية. هذه السياسة تطبق على جميع أطراف المؤسسة من مستفيدي الخدمات (إدارة النظام، العملاء، المشرفين، ممثلي مزودين الخدمات الخارجية والمتعاقدين).
</p>

<p>

هذه السياسة لا تغطي المشاكل الصحية ولا الأمنية المحتملة.
<br/>
المشاكل الغير مذكورة مباشرةً في هذه السياسة أو في مستند مرفق تحدد عن طريق اداره الموارد البشرية او اداره تقنيه المعلومات او الاثنين معا في حال تطلب ذلك. 
<br/>
الهيئة الوطنية للأمن السيبراني، وزارتي التجارة والاعلام وما تفرضه من تعاميم وقوانين هي السلطة النهائية التي تحكم هذه السياسات، إذا تعارض أي جزء من هذي السياسة مع ذلك او لم يذكر لاحقا فإنه يأخذ بإجراءات الهيئة الوطنية للآمن السيبراني ووزارتي التجارة والاعلام آخراً ما لم "افينسا" تأخذ موقف صارم.
<br/>
كتذكير عام، وزارة الاعلام، وزارة التجارة، بالإضافة للهيئة الوطنية للأمن السيبراني تغرم بدورها المخالفين وتحملهم نتيجة افعالهم. في حال حدوث مخالفة امنية او تجارية قد تحمل شخصياً مسؤولية ذلك بشكل مدني او اجرامي.
<br/>
ما لم يذكر ذلك٬ ستتخذ "افينسا" إجراءات تأديبية في حال مخالفة هذه السياسات، قد يتطلب ذلك الى انهاء العقد المتفق عليه بين "افينسا" والطرف الثاني مع اتخاذ إجراءات قانونية.
</p>

<p>

اولاً: الملكية
<br/>

جميع حقوق الطبع محفوظة ل"أفينسا"، وتعتبر حقوق الطبع في الصفحات وفي شاشات عرض (نظام وكيل) وكذلك المعلومات والمواد الواردة في هذه الصفحات والشاشات بما فيها النصوص والرسوم والصور ومصنفات البيانات، وقوائم العناوين، وبرامج الحاسوب، تندرج تحت ملكية "أفينسا" ما لم تنص هذه الشروط على غير ذلك.
</p>

<p>
ثانياً: حدود المسؤولية
<ul>
<li>
"افينسا" تقدم خدمات تقنية لتلبية احتياج عملائها، بشكل عام، سيحصل العميل على الخدمة التقنية المقبولة المتفق عليها ما لم يطرأ على ذلك عوائق قاهرة تحول دون ذلك، وعلى ذلك لا يتوقع العميل أي خدمات مقدمة ما لم ينص على ذلك.
</li>
<li>
تبذل "أفينسا" أقصى جهودها لتحقيق مستوى عالي من الجودة والدقة لمحتويات النظام، إلا أنها لا تعتبر في أي حال من الأحوال مسؤولة عن أي أضرار، ويشمل ذلك على سبيل المثال أي أضرار مباشرة أو خاصة أو طارئة أو لاحقة وأي خسائر أو مصاريف قد تنجم بسبب (نظام وكيل) أو بسبب استخدامه أو عدم القدرة على استخدامه بواسطة أي طرف أو بسبب الإخفاق في الأداء أو الأخطاء أو السهو أو انقطاع الإرسال أو أي تأخير في التشغيل أو الإرسال أو الفيروسات أو خط الربط والاتصال أو بسبب حصول أي عطل في النظام.
</li>
</ul>
</p>

<p>
ثالثاً: سياسة الخصوصية وسرية المعلومات

<ul>
<li>
تعمل "أفينسا" في جميع الأوقات على المحافظة على خصوصية وسرية جميع المعلومات الشخصية التي تم جمعها. ويجوز الكشف عن مثل هذه المعلومات والإفصاح عنها فقط في حالات الضرورة والاقتضاء بموجب القانون أو عند توفر حسن النية وعند اعتقادنا أن مثل هذا الإجراء إنما هو إجراء ضروري أو مرغوب فيه امتثالا للقانون، أو حماية لحقوق وممتلكات "أفينسا" أو دفاعاً عنها، وعن هذا النظام أو مستخدميه.
</li>
<li>
لا يقوم نظام وكيل بجمع معلومات شخصية عنك إلا إذا اخترت تحديداً وبمعرفتك تقديم هذه المعلومات. وإذا اخترت تقديم معلوماتك، فإننا لا نستخدمها إلا لإنجاز طلبك للحصول على معلومات أو خدمات وفق ما ورد في هذه السياسات، كما إن قيامنا بتهيئة نظامنا على الإنترنت لم يكن بهدف جمع أية معلومات شخصية من جهاز الحاسوب الخاص بكم عند قيامكم باستعراض هذا الموقع وإنما سيتم فقط استخدام تلك المعلومات التي تقدم طواعية وعن معرفة.
</li>
<li>
عند طلبنا معلومات منكم، فإننا سوف نطلب منكم تقديمها لنا طواعية. إن مثل هذه المعلومات سوف تساعدنا في الاتصال بكم والتواصل معكم ومن ثم إجراء معاملة طلباتكم من بوت المحادثات وكيل وحيثما تطلب الأمر ذلك.
</li>
<li>
وباستخدامك لنظام وكيل فإنك توافق على سياسة الخصوصية وسرية المعلومات هذه وان استخدامنا لمعلوماتكم الشخصية تحكمها سياسة الخصوصية، وسرية المعلومات التي تشكل جزءاً من أحكام هذا النص.
</li>
</ul>
</p>

<p>
رابعاً: معلومات المستخدم وكلمة السر
<br/>
سيطلب منك كجزء من تسجيلك: تزويد نظام وكيل بمعلومات معينة عنك والتي تضمن دون استثناء بريدك الإلكتروني، لن يفصح عن اسمك، عنوانك، عنوان بريدك الإلكتروني أو رقم هاتفك دون موافقتك المسبقة.
<br/>
تتحمل شخصيا مسؤولية الحفاظ على سرية معلوماتك وكلمة المرور الخاصة بك، وما ينتج من كافة الاستخدامات والنشاطات التي تنجم عن استخدام كلمة المرور بغض النظر فيما إذا كانت مرخصة من قبلك، ويجب عليك التواصل مع الدعم الفني على الفور في حال استخدام كلمة المرور خاصتك أو تسجيلك بشكل غير مرخص، ولن تتحمل "أفينسا" مسؤولية أي حدث يطرأ نتيجة الاستخدام غير المرخص لكلمة المرور وتسجيلك.
</p>

<p>
خامساً: الأمان
<br/>
تحرص "أفينسا" على تحقيق أعلى درجات الأمان الممكنة واتباع أفضل ممارسات الأمان للحفاظ على بيانات المستخدمين وتوفير الخصوصية والسرية لمعاملاتهم وذلك للتوافق مع سياسة الخصوصية والاستخدام المتبعة.
<br/>

<ul>
ومن أهم التدابير المعمول بها:
<li>
الإجراءات والتدابير المشددة لحماية أمن المعلومات والتقنية التي نستخدمها للوقاية من عمليات الاحتيال والدخول غير المصرح به.
</li>
<li>
التحديث المنتظم والدوري لإجراءات وضوابط الحماية التي تفي أو تزيد عن المعايير القياسية.
</li>
<li>
إن موظفينا مؤهلون ومدربون على احترام سرية المعلومات الشخصية لزائرينا.
</li>
</ul>
</p>

<p>
سادساً: الاستفادة من بعض البيانات
<br/>
عند تصفح نظام وكيل، فإن بعض البيانات غير الشخصية قد يتم حفظها وجمعها وذلك من خلال استيرادها بشكل مباشر (سواء كان اتصالك عبر جهاز الحاسوب أو الجوال) والتي قد تشمل عنوان بروتكول شبكة الإنترنت (IP)، نوع ولغة المتصفح الخاص بك، الصفحات التي تمت زيارتها، خيارات المستخدمين من خلال بوت المحادثات وكيل، الوقت المستغرق في صفحة محددة، وقت الزيارة وتاريخها. وقد يتم الاستفادة من البيانات الخاصة بك لإعداد الاستبانات أو إعداد التقارير لأجل إجراء بعض الأبحاث والدراسات، بالإضافة إلى المخاطبات الدورية معك إن لزم الأمر، كما أن ل"أفينسا" الحق في مشاركة بياناتك مع الجهات ذات العلاقة وفق ما يخدم توجهنا لتطوير نظام وكيل وتحتفظ "أفينسا" بالحق في تعديل سياسة خصوصية بيانات المستخدم متى ما كان ذلك مناسباً.
</p>

<p>
سابعاً: شروط استخدام نظام إدارة وكيل، البوت وكيل ومحتوياتهم:
<br/>
يرجى التفضل بقراءة شروط استخدام نظام إدارة وكيل، البوت وكيل ومحتوياتهم بكل دقة وعناية، لأنها توضح الخطوط العريضة لحقوقكم وكذلك التزاماتنا فيما يتعلق ببياناتكم ومعلوماتكم الشخصية، وإلى أي مدى يمكن أن نتقاسم هذه المعلومات مع الآخرين دون انتهاك لحقوقكم، وإن دخولك واستخدامك لنظام إدارة وكيل يخضع لشروط وأحكام، وبدخولك وتصفحك واستخدامك للموقع تكون قد قبلت، من دون قيد أو شرط.
<ul>
أحكام وشروط الاستخدام الواردة في هذه الوثيقة:
<li>
	الالتزام بآداب السلوك الرقمي
</li>
<li>
	بنشرك لأي محتوى في نظام إدارة وكيل، والبوت وكيل فإنك تعلن مسؤوليتك الكاملة عن كل ماورد به من معلومات وأنها من انتاجك الخاص، وأن أي نزاع أو مطالبة قانونية تنشأ عن نشر هذا العمل ستكون أنت المسؤول عنها مسؤولية كاملة ولا يحق لأي طرف ثانٍ مطالبة "أفينسا" بأي حقوق له من قبلك أو قبل أي أطراف أخرى شاركوا في إعداد وتنفيذ هذا العمل.
</li>
<li>
	قد يشمل نظام إدارة وكيل، والبوت وكيل على روابط بالمواقع الأخرى على شبكة الإنترنت، او اعلانات من مواقع أخرى ولا نعتبر مسئولين عن أساليب تجميع البيانات من قبل تلك المواقع، يمكنك الاطلاع على سياسات السرية والمحتويات الخاصة بتلك المواقع التي يتم الدخول إليها من خلال أي رابط ضمن هذا الموقع، لا تتحمل "أفينسا" مسؤولية الفيروسات التي قد تتسلل من خلال تلك المواقع، وستتحمل مسؤولية قرارك في دخولك إلى المواقع الأخرى عبر تلك الوصلات.
</li>
<li>

	يتيح نظام إدارة وكيل، والبوت وكيل المشاهدة والانتفاع بالمواد المنشورة على الموقع لاستخدامك الخاص فقط في مجال عملك حسب تصنيف المستفيدين وليس في الأغراض التجارية، وهذه الاتاحة باستخدام نظام إدارة وكيل، والبوت وكيل لا تعتبر بيع لأي حق من حقوق المالك.
</li>
<li>
	يسمح لك باستخدام نظام إدارة وكيل، والبوت وكيل من جهتك فقط ولا يمكنك أن تقوم باستئجار أو تأجير أو إعارة أي من المعلومات أو أي حق من حقوقك المنصوص عليها في هذا الاتفاق لأي جهة أخرى.
</li>
<li>
	لا يسمح لك بتغيير أي جزء من المعلومات التي توجد في نظام إدارة وكيل، والبوت وكيل أو تلك التي تتم مداولتها عبرها ولا يحق لك تخزينها إلا بعد حصولك على إذن مكتوب ومخول لذلك.
</li>
<li>
	يجب عليك المحافظة على جميع حقوق الطبع والعلامة التجارية وجميع إشعارات الملكية التي تحتويها المادة الأصلية في أي نسخة منها المنشورة عبر نظام إدارة وكيل، والبوت وكيل أو التي تقوم بنشرها أنت عبر النظام أو البوت.
</li>
<li>
	لا يحق لك بيع، تعديل، إعادة إنتاج، عرض، توزيع، تحويل، نشر، ترخيص أو إنشاء أعمال مشتقة من أي مادة أو محتوى يحتويه نظام إدارة وكيل، أو البوت وكيل.
</li>
<li>
	غير مصرح لمستفيدي نظام إدارة وكيل، أو البوت وكيل استخدام أي مادة من المواد المنشورة في أي موقع أخر أو في بيئة حاسوبية مشتركة بشبكة أخرى.
</li>
<li>
	يمنع استخدام نظام إدارة وكيل، أو البوت وكيل من أجل ارتكاب جرم أو تشجيع الآخرين على التورط في أي تصرف قد يعد جريمة أو ينطوي على مسؤولية مدنية.
</li>
<li>
	يمنع إدخال أو نشر أي محتويات غير قانونية تتضمن تمييزاً أو تشهيراً أو إساءة أو قذفاً أو مواد غير لائقة.
</li>
<li>
	يمنع استخدام نظام إدارة وكيل، أو البوت وكيل من أجل انتحال شخصيات أو أطراف أخرى.
</li>
<li>
	يمنع استخدام نظام إدارة وكيل، أو البوت وكيل لتحميل أي مادة فيها برامج تحتوي على فيروسات أو أي شفرات حاسوبية أو ملفات أو برامج قد تعمل على تغيير أو إتلاف أو إعاقة عمل الموقع أو أي جهاز أو برنامج عائد إلى أي شخص يدخل إلى الموقع.
</li>
<li>
	يمنع تحميل أو إدخال أو إرسال أو أي بث بخلاف ذلك لمواد لا يحق لك بثها بموجب أي قانون أو علاقة تعاقدية.
</li>
<li>
	يمنع تغيير أو إتلاف أو شطب أي محتوى على نظام إدارة وكيل، أو البوت وكيل.
</li>
<li>
	يمنع تعطيل خطوط الاتصال الاعتيادية بأي شكل كان.
</li>
<li>
	يمنع الادعاء بالارتباط مع، أو تمثيل أي شركة أو جمعية أو هيئة من دون أن تكون مخولاً بادعاء تلك العلاقة أو ذلك التمثيل.
</li>
<li>
	يمنع نشر أو بث أي إعلان أو مادة دعائية أو أي شكل من أشكال الترويج.
</li>
<li>
	يمنع نشر أي مادة تتنافى أو تتعارض مع حقوق الملكية الفكرية للآخرين، أو جمع أو تخزين المعلومات الشخصية عن الآخرين.
</li>
<li>
	يمنع نشر أي معلومات غير كاملة، خاطئة أو غير دقيقة عن نفسك في بيانات المستخدمين.
</li>
<li>
	يمنع تقمص شخصية أي مستخدم أخر من مستخدمي نظام إدارة وكيل، أو البوت وكيل.
</li>
<li>
	يمنع تشويه صورة شخص أو كيان تعمل معه أو آخر زورًا.
</li>
<li>
	يمنع نشر أو بث أي محتوى ليس لديك الحق أن تقوم بإعادة نشره، عرضه أو بثه تحت أي قانون أو علاقات تعاقدية أو مبنية على أساس الثقة (كالعقود غير المفصح عنها).
</li>
<li>
	يمنع نشر أو بث أي مواد إعلانية أو تروجيه أو رسائل إلكترونية أو أية مادة أخرى غير مرغوب بها أو أي معلومات لا تتعلق بالمنهج الدراسي كالآراء والإشعارات وغيرها من مواد.
</li>
<li>
	يمنع حذف أو مراجعة أي مادة تم نشرها من قبل أي مستخدمين أخرين ما لم يكن لك صلاحيات بذلك ضمن إطار الصلاحيات الممنوحة لك.
</li>
<li>
	يمنع استخدام أي أداة أو برنامج للتدخل أو محاولة التدخل في تشغيل نظام إدارة وكيل، أو البوت وكيل أو أي نشاط يتم القيام به على النظام أو البوت.
</li>
<li>
	يمنع اتخاذ أي إجراء يعرض البنية التحتية لنظام إدارة وكيل، أو البوت وكيل لحمل غير ضروري يؤدي إلى إجهادهم بشكل كبير.
</li>
<li>
	لا يسمح بمشاركتك للحساب ولكلمة المرور الممنوحة لك مع طرف آخر تسمح له من خلالها بإدارة حسابك أو استخدامه بدلا عنك بطرق غير شرعية ولا أخلاقية لتحوز لنفسك وبدون وجه حق على نفع ذاتي.
</li>
<li>
	يمنع محاولة فك تشفير أو تفكيك وإعادة تجميع أي من البرامج التي تشكل النظام أو البوت أو جزء منهم.
</li>
<li>
	يمنع بث ونشر وتوزيع أي محتوى غير شرعي، مؤذ، مسيء، فاضح أو مكروه أخلاقيا أو يكون مسيئا لشخص آخر أو جهة أخرى.
</li>
<li>
	يمنع نشر أو بث أي محتوى ضار يحتوي على برامج ضارة كالفيروسات وغيرها تهدف إلى الإضرار بأي نظام أو معلومات للتحايل أو الاستيلاء على ملكيتها.
</li>
<li>
	لا يسمح بإرفاق أو نشر أو بث أي محتوى أو استخدام نظام إدارة وكيل، أو البوت وكيل لسرقة علامة تجارية أو أي حقوق ملكية أخرى أو سر مهنة تعود ملكيته لأي طرف أو سلب للحقوق الشخصية لأي طرف آخر.
</li>
<li>
	لا يسمح إعادة بيع أو تحويل واجباتك أو حقوقك الموجودة في هذه الشروط والقيود لأي طرف أخر سواء كان من مستخدمي نظام إدارة وكيل، أو البوت وكيل أو من خارجه.
</li>
<li>
	لا يسمح بتجاوز أي قوانين مطبقة في هذا الاتفاق سواء أكانت محلية، وطنية، دولية.
</li>
</ul>
</p>

<p>
ختاماً: تغييرات سياسة الخصوصية
يرجى الأخذ بعين الاعتبار أننا نقوم بمراجعة سياسة الخصوصية هذه دورياً وقد نُجري عليها بعض التغييرات، عندما نُجري أية تغييرات فإن رابط سياسة الخصوصية سيحتوي إشارة "مراجعة حديثة (مع التاريخ)" مما يشير إلى وجوب مراجعتك للأحكام الجديدة التي تعتبر سارية فور نشر السياسة الجديدة على هذه الصفحة مع تاريخ نفاذ جديد.
</p>

<p>
ستبقى هذه الإشارة موضوعة إلى جانب رابط سياسة الخصوصية لمدة عشرة (١٠) أيام على الأقل بعد إجراء التحديثات. ويُعتبَر دخولك الموقع بعد إجراء أي تغييرات موافقةً مسبقة منك على سياسة الخصوصية المعدّلة وأية تغييرات فيها، وفي حال استلامك إشعار بالتعديلات والمذكور أعلاه، احرص على زيارة هذه الصفحة بشكل دوري للتأكد من معرفتك بأحدث نسخة من سياسة الخصوصية.
</p>

<p>
جميع ما ورد في هذه الوثيقة يخضع للائحة التنفيذية لنشاط النشر الإلكتروني الصادرة عن وزارة الإعلام في المملكة العربية السعودية، ونظام حماية حقوق المؤلف الصادر بالمرسوم الملكي رقم (م/41) بتاريخ 2 رجب 1424المعدل بقرار مجلس الوزراء رقم (536) وتاريخ 19/10/1439.

</p>
</div>