<div class="card-header py-3">
  <div class="row">
      <div class="col-md-8">
          <a href="<%= parents_path %>" class="btn btn-info">
              <i class="fa fa-list"></i>
          </a>
          <a href="<%= parent_url(@parent) %>" class="btn btn-info">
              <i class="fa fa-eye"></i>
          </a>
          
    </div>
  </div>
</div>
<br/>

<%= render 'form', parent: @parent %>


